.chart{
margin: 20px;
padding: 20px;
-webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}
.chartTitle{
    margin-bottom: 20px;
}